@import url(./style.css);
@import url(./globals.css);
@import url(./cards.css);
@import url(./background-layer.css);
@import url(./settings.css);
@import url(./sun-graph.css);
@import url(./card_special.css);